# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/static/
*.pot

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
*.cover
.hypothesis/
.venv/

# Build
/build/
/dist/
*.egg-info/
.eggs/

# Deployment
*.pid
*.pid.lock
*_files/