{% extends "blog/base.html" %}


{% block title %}
Dashboard
{% endblock %}


{% block content %}


<h1 class="mb-4">
👋 Welcome, {{ user.username }}
</h1>



<div class="row">


<div class="col-md-4 mb-4">

<div class="dashboard-card">

<h2>
{{ total_posts }}
</h2>

<p>
📝 Total Posts
</p>

</div>

</div>



<div class="col-md-4 mb-4">

<div class="dashboard-card">

<h2>
{{ total_likes }}
</h2>

<p>
❤️ Total Likes
</p>

</div>

</div>




<div class="col-md-4 mb-4">

<div class="dashboard-card">

<h2>
{{ total_views }}
</h2>

<p>
👁 Total Views
</p>

</div>

</div>



</div>




<div class="d-flex gap-3 mb-4">

<a href="{% url 'create_post' %}"
class="btn premium-btn">

➕ Create Post

</a>


<a href="{% url 'profile' %}"
class="btn btn-outline-primary">

👤 Profile

</a>


</div>





<h3 class="mb-3">

Recent Posts

</h3>



<div class="row">


{% for post in recent_posts %}


<div class="col-md-6 mb-3">


<div class="card blog-card">


<div class="card-body">


<h5>

{{ post.title }}

</h5>


<p>

{{ post.content|truncatewords:15 }}

</p>


<a href="{% url 'post_detail' post.id %}"
class="btn premium-btn">

View

</a>


</div>


</div>


</div>


{% empty %}


<p>
No posts created yet.
</p>


{% endfor %}



</div>



{% endblock %}